/* main.css */

@import './base.css';

#app {
  width: 100%;
  min-width: 320px;
  min-height: 100vh;

  margin: 0;
  padding: 0;
}

/* Link styles */
a,
.green {
  color: hsla(160, 100%, 37%, 1);
  text-decoration: none;
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}
